%main{:role => "main"}
  .row
    .container
      %h1.display-3
        %strong
          = t('all_recipe.show.title')
        = @recipe.title
    .container
      .row
        .col-md-3
          %table.table
            %tr
              %th
                = t('all_recipe.show.product')
              %th
                = t('all_recipe.show.count')
            - @product.each_with_index do |prod, i|
              %tr
                %td
                  = prod.title
                %td
                  = @specifications[i].count
        .col-md-9
          %h2
            = t('all_recipe.show.todo')
          %p= @recipe.text
      %hr/
